* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rotate-center{animation:rotate-center .6s ease-in-out both}

 @keyframes rotate-center{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    height: 200px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1024px;
    height: 768px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3px;
}

.foto {
    height: 300px;
    width: 330px;
}

.foto img {
    width: 95%;
    height: 95%;
    border-radius: 5%;
    transition: 0.2s;
    cursor: pointer;
}

.foto img:hover {
    width: 100%;
    height: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

span {
    font-style: italic;
}